@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600;700&display=swap');

/* Variables */

:root {
  --color-heading: #eef3db;
  --color-body: #b6cbce;

  --color-base: #151119;
  --color-base2: #111;
  
  --color-brand: #8400FF;
  --color-brand2: #FF005A;

  --sidebar-width: 240px;
  --font-base: "Bai Jamjuree";
}

/* Page Design */

body {
    background-color: var(--color-base2);
    color: var(--color-body);
    font-family: var(--font-base), sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    color: var(--color-heading);
    font-weight: 700;
}

a {
    text-decoration: none;
    color: var(--color-body);
    transition: all 0.4s ease;
}

a:hover { color: var(--color-brand2); }
img { width: 100%; }

.text-brand { color: var(--color-brand2); }
.bg-base { background-color: var(--color-base); }

.full-height {
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 80px;
    border-bottom: 2px solid rgba(255,255,255, 0.1);
}

.shadow-effect { transition: all 0.5s; }
.shadow-effect:hover { box-shadow: 6px 6px 0 var(--color-brand2); }

/* Navbar */

.navbar { background-color: var(--color-base); }

.navbar .nav-link {
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
}

.navbar .nav-link:hover { color: var(--color-brand); }
.navbar .nav-link.active { color: var(--color-brand); }

@media (min-width: 992px) {
    .navbar {
        min-height: 100vh;
        width: var(--sidebar-width);
        background: linear-gradient(#151119e1, #151119e0), url(../images/bg-image.jpg); /* rgba(3, 63, 71, 0.8), rgba(3, 63, 71, 0.8) */
        background-size: cover;
        background-position: center;
    }

    .navbar-brand img { border: 8px solid var(--color-brand); }
    #content-wrapper { padding-left: var(--sidebar-width); }
}

/* Buttons */
.btn {
    padding: 12px 28px;
    font-weight: 700;
}

.btn-brand {
    background-color: var(--color-brand);
    border-color: var(--color-brand);
    color: var(--color-base);
}

.btn-brand:hover,
.btn-brand:focus {
    background-color: #A300D6;
    color: var(--color-base);
}

/* Links */

.custom-link {
    font-weight: 700;
    position: relative;
}

.custom-link::after {
    content: "";
    width: 0%;
    height: 2px;
    background-color: var(--color-brand2);
    position: absolute;
    left: 0;
    top: 110%;
    transition: all 0.4s;
}

.custom-link:hover::after { width: 100%; }

/* Cards */
.custom-card .custom-card-image { overflow: hidden; }
.custom-card .custom-card-image img { transition: all 0.4s ease; }
.custom-card:hover .custom-card-image img { transform: scale(1.1); }

/* About */

#pfp {
  border-radius: 50%;
  height: 100px;
  width: 100px;
}

/* Social Icons */
.social-icons a {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-base);
    border-radius: 100px;
    font-size: 24px;
    transition: all 0.4s ease;
}

.social-icons a.la-github:hover { color: #fff; }

.la-copyright {
  transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
}