/* Imports */
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap");


#titleText {
  font-family: "Oswald", sans-serif;
  text-align: center;
  padding: 50px;
  color: #ffff;
}

.highlight {
    color: #e31b6d;
    font-size: 50px;
}

h1 {
  font-size: 50px;
  color: #ffff;
}

body {
    background-image: url("../img/bg.jpg");
    background-repeat: no-repeat, repeat;
    color: #ffff;
}

.navbar {
  width: 100%;
  float: left;
  border: 1px solid #999;
  fill: #0000;
  margin: 0px auto;
}

#currTime {
    font-family: "Oswald", sans-serif;
    float: bottom;
    width: 100%;
    margin: 0px auto;
    background-color: #0000;
    overflow: hidden;
}