/* Imports */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

/* Universal */

:root {
    --btn-primClr: #ff005a;
    --btn-hovClr: #8400ff;
    --bg-clr: #0f151c;
    --gen-font: 'Oswald', sans-serif;
    --quote-font: 'Prompt', sans-serif;
    --header-font: 'Pacifico', cursive;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Elements */

/* Get rid of scrollbar */
::-webkit-scrollbar { display: none; }

html { font-size: 16px; }

body { background-color: var(--bg-clr); }
    
a.btn {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    display: inline;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: var(--btn-primClr);
    text-decoration: none;
    border: 2px solid;
    background: transparent;
    padding: 0.625rem 2.5rem;
    font-size: 0.875rem;
    font-weight: 700;
    transition: 0.2s all;
    border-radius: 10px;
}

a.btn:hover { 
    color: var(--btn-hovClr);
    background-color: transparent;
}

h1, h2, h3, 
h4, h5, h6, input, text {
    font-family: var(--gen-font);
    font-weight: 500;
}

p { font-size: 2.5rem; }

/* Classes */

.btn-wrapper {
    align-items: center;
    justify-content: center;
}

.title, text { font-family: var(--header-font); }

.motto {
    font-family: var(--quote-font);
    font-size: 1.25rem;
}

.copyleft {
    display: inline-block;
    transform: rotateY(180deg);
}

/* Center Animation */

.wrapper { 
    justify-content: center;
    align-items: center;
}

.wrapper .static-text {
    color: #fff;
    font-size: 3.75rem;
    font-weight: 400;
}

.wrapper .dynamic-text {
    margin-left: 0.9375rem;
    line-height: 5.625rem;
    height: 5.625rem;
    overflow: hidden;
}

.dynamic-text li span {
    /* Gradient */
    background: linear-gradient(-45deg, #7e57c2, #6200ea, #283593, #1a237e);
    line-height: 1;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.dynamic-text li {
    list-style: none;
    color: var(--btn-hovClr);
    font-size: 3.75rem;
    font-weight: 500;
    top: 0;
    position: relative;
    animation: slide 12s steps(4) infinite;
}

.dynamic-text li::after {
    content: '';
    position: absolute;
    left: 30%;
    height: 100%;
    width: 100%;
    background-color: #111;
    border-left: 0.125rem solid var(--btn-primClr);
    animation: typing 3s infinite;
}

.dynamic-text a.brackets { color: #fff; }

/* Keyframes */

@keyframes typing {
    30%, 40% { left: 75%; }
    100% { left: 30%; }
}